.jumbotron {
    /* 1 rem = 24px */
    padding-top: 8rem;
    background-color: #cee0ff;
}

.image-hero{
    object-fit: cover;
    width: 200px;
    height: 200px;
}

#about{
    margin-bottom: 3rem;
}

.project{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #cee0ff;
}

#my-project{
    background-color: #cee0ff;
}

.footer{
    background-color: #cee0ff;
}
section {
    padding-top: 5rem;
}